# RStudio and R session
.Rhistory
.RData
.Ruserdata
.Rproj.user

# knitr cache directories
*_files/
*cache/
/*_cache/

# knitr temporary files
*.utf8.md
*.knit.md

# waffr specific
/input/
/analysis/cache/
/analysis/figures/
/archive

# Files with large binaries
*.html
*.xls
*.xlsx

# Other things that we don't want to track
/input/*/
/output/
